@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header-content{
    width: 100vw;
    height: 100vh;
    background: url(./images/background_header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-navbar{
    width: 55%;
    position: relative;
    margin: auto;
    padding: 1.5rem 0rem;
    display: flex;
    font-size: 1.1rem;
}

.header-navbar img{
    width: 20%;
}

.header-navbar ul{
    color: #b1b1b4;
    display: flex;
    list-style: none;
}

.header-navbar li a{
    margin-left: 3rem;
    line-height: 3rem;
    cursor: pointer; 
    text-decoration: none;
    color: #b1b1b4;
}

.header-navbar li a:hover{
    font-weight: 500;
    color: #ffffff;
    border-bottom: 3px solid #04d361;
    padding-bottom: 2rem;
}

.handler-user{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: 3rem;
}

.handler-user button{
    margin: 0rem 1rem;
    width: 70%;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}

.button-sign{
    border: 1px solid #04d361;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
}

.button-sign:hover{
    border: 3px solid #04d361;
    transition: 0.2s;
}

.button-plain{
    background-color: #04d361;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.button-plain:hover{
    background-color: #1e9453;
    transition: 0.2s;
}

.title{
    color: #ffffff;
    width: 30%;
    margin: 8rem 0rem 0rem 4rem;
}

.title h1{
    font-size: 4rem;
}

h1::after{
    content: '|';
    margin-left: 5px;
    font-size: 60px;
    opacity: 1;
    animation: flash .7s infinite;
}

@keyframes flash {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.title p{
    font-size: 1.4rem;
    margin-top: 3rem;
}
